//@import "../../sass/includes/includes.scss";

.dropdown {
	box-sizing: border-box;
	max-width: 320px;
	select {
		height: 44px;
		width: 100%;
		border-radius: 4px;
		border: 1px solid $dark-shade-25;
		font: inherit;
		padding-left: 15px;
		-webkit-appearance: none;
		appearance: none;
	}
	
	input[type='text']::placeholder {
		
	}

	&__text {
		display: flex;
		justify-content: space-between;
	}

	h3 {
		padding: 5px 0;
	}

	span {
		color: $dark-shade-50;
		font-size: 12px;
		text-transform: uppercase;
	}

	input:hover, input:focused {
		border: 1px solid $dark-shade-50;
		color: $dark-shade-75;
		&::placeholder {
			color: $dark-shade-75;
		}
	}

}
