extends ../pug/layouts/UIkitCorePage.pug



block vars
	- var pageTitle = 'colors & type 555'


block content
		section#colors-type
			div.wrapper
				div.colors-type
					article.colors
						div.colors_item
							div.colors_field.colors_field__dark-shade-100
							div.colors_description
								h2 Dark Shade 100%
								span #1f2041
						div.colors_item
							div.colors_field.colors_field__dark-shade-75
							div.colors_description
								h2 Dark Shade 75%
								span #1f2041
						div.colors_item
							div.colors_field.colors_field__dark-shade-50
							div.colors_description
								h2 Dark Shade 50%
								span #1f2041
						div.colors_item
							div.colors_field.colors_field__dark-shade-25
							div.colors_description
								h2 Dark Shade 25%
								span #1f2041
						div.colors_item
							div.colors_field.colors_field__dark-shade-5
							div.colors_description
								h2 Dark Shade 5%
								span #1f2041
						div.colors_item
							div.colors_field.colors_field__purple
							div.colors_description
								h2 Purple
								span #bc9cff
						div.colors_item
							div.colors_field.colors_field__green
							div.colors_description
								h2 Green
								span #6fcf97
					article.type
						div.type__item
							div.type__term 
								h1 H1
							div.type__definition 
								h1 This one is the sub-section or widget title
						div.type__item
							div.type__term
								h2 H2
							div.type__definition
								h2 Next one is the item title inside widgets
						div.type__item
							div.type__term
								h3 H3
							div.type__definition 
								h3 This is a label or CTA text
						div.type__item
							div.type__term
								p Body
							div.type__definition
								p This is the body text which is used for most	of the design, like paragraphs, lists, etc  