doctype html
html
	head
		title Colors type
	body
		section#logo
			img(src="#", alt="logo")
		section#colors-type
			div.wrapper
				article.colors
					div.colors_item
						div.colors_field.colors_field__dark-shade-100
						div.colors_description
							h2 Dark Shade 100%
							span #1f2041
					div.colors_item
						div.colors_field.colors_field__dark-shade-75
						div.colors_description
							h2 Dark Shade 75%
							span #1f2041
					div.colors_item
						div.colors_field.colors_field__dark-shade-50
						div.colors_description
							h2 Dark Shade 50%
							span #1f2041
					div.colors_item
						div.colors_field.colors_field__dark-shade-25
						div.colors_description
							h2 Dark Shade 25%
							span #1f2041
					div.colors_item
						div.colors_field.colors_field__dark-shade-5
						div.colors_description
							h2 Dark Shade 5%
							span #1f2041
					div.colors_item
						div.colors_field.colors_field__purple
						div.colors_description
							h2 Purple
							span #bc9cff
					div.colors_item
						div.colors_field.colors_field__green
						div.colors_description
							h2 Green
							span #6fcf97
