$primary-color:  #333;
$dark-shade-100: rgba(31, 32, 65, 1);
$dark-shade-75: rgba(31, 32, 65, .75);
$dark-shade-50: rgba(31, 32, 65, .50);
$dark-shade-25: rgba(31, 32, 65, .25);
$dark-shade-5: rgba(31, 32, 65, .05);
$purple: #bc9cff;
$green: #6fcf97;

$colors_name_set: ('dark-shade-100':$dark-shade-100, 
				   'dark-shade-75': $dark-shade-75,
				   'dark-shade-50': $dark-shade-50,
				   'dark-shade-25': $dark-shade-25,
				   'dark-shade-5': $dark-shade-5,
				   'purple': $purple,
				   'green': $green,);

@font-face {
	font-family: 'Quicksand-Bold';
	src: url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'), 
	url('../fonts/Quicksand/Quicksand-Bold.woff') format('woff'), 
	url('../fonts/Quicksand/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand-Regular';
	src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'), 
	url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'), 
	url('../fonts/Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight:  normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), 
	url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'), 
	url('../fonts/Montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), 
	url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'), 
	url('../fonts/Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight:  normal;
	font-style: normal;
}

body, * {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: $dark-shade-75;
	font-family: 'Montserrat-Bold', sans-serif;
	line-height: 24px;
}

h1 {
	font-family: 'Quicksand-Bold', sans-serif;
	color: $dark-shade-100;
	font-size: 24px;
	line-height: 30px;
	margin: 0; padding: 0;
}

h2 {
	font-family: 'Quicksand-Bold', sans-serif;
	color: $dark-shade-100;
	font-size: 19px;
	line-height: auto;
}

h3 {
	font-family: 'Montserrat-Bold', sans-serif;
	color: $dark-shade-100;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 17px;
}

p {margin: 0; padding: 0;}

.logo_svg {
	margin: 30px 0 0 30px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1440px;
	//border: 2px solid black;
}

.colors-type {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 60px;

}

.type {
	max-width: 403px;
	margin-right: 13.7em;

	.type__item {
		display: flex;
		justify-content: flex-start;
		margin: 0; padding: 0;
		margin-bottom: 50px;
	}

	.type__item:last-child {
		margin-top: -4px;
	}
	.type__term {
		margin-right: 30px;
		display: block;
		width: 37px;
		text-align: right;
		h1,h2,h3,p {color: $dark-shade-25; font-family: 'Montserrat-Regular', sans-serif;}
	}

	.type__definition {
		width: calc(403px - 67px);
	}

}

.colors {
	max-width: 269px;
	margin: 0px 0 0 10.7em;
}

.colors_item {
	display: flex;
	flex-flow: row no-wrap;
	margin-bottom: 20px;
	justify-content: flex-start;
	//border: 2px solid black;
}

.colors_description {
	span {
		font-family: 'Quicksand-Regular', sans-serif;
		text-transform: uppercase;
		font-size: 19px;
	}

	h2 {
		font-size: 19px;	
		padding: 9px 0 5px 0;
	}
}

.colors_field {
	width: 70px;
	height: 70px;
	//border: 2px solid black;
	border-radius: 5px;
	margin-right: 40px;
}

@each $field, $bgcolor in $colors_name_set {
	.colors_field__#{$field} {
		background-color: $bgcolor;
	}
}