doctype html
html
	head
		title Colors type
	body
		h1 Form Elements
		section#fields
			div.text-field
				div.text-field__text
					label 
						h3 text-field
					span Default
				input.text-field.field__text-field#text-field(type="text", placeholder="Email", name="text-field")